.div_salto {
	margin: 50px;
	display: flex;
	align-items: center;
	img {
		p {
			display: grid;
			margin: auto;
		}
	}
}

.term-cond {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	@include contenedor_de_flex(center);
}

.cuadrado {
	@include contenedores_de_contenido(column, center);
}
.video {
	@include contenedores_de_contenido(column, center);
}

.cajaconsulta {
	display: flex;
	justify-content: space-evenly;
}
.formulariocaja {
	display: flex;
	flex-direction: column;
}