

footer {
	background-color: map-get($paleta_colores_fondo, primario);
	background-size: cover;
	height: 100%;
	width: 100%;
	color: $color_1;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-items: center;
}