

header {
	position: sticky;
	top: 1;
}

li {
	a.active {
		background: map-get($paleta_colores_fondo, terciario);
		transition: .5s;
	}
	a {
		&:hover {
			background: map-get($paleta_colores_fondo, terciario);
			transition: .5s;
		}
	}
}

.imagennav {
	height: 90px;
	width: 100px;
}