

header {
	position: sticky;
	top: 1;
}

li {
	a.active {
		background: aqua;
		transition: .5s;
	}
	a {
		&:hover {
			background: aqua;
			transition: .5s;
		}
	}
}

.imagennav {
	height: 80px;
	width: 70px;
}