h2 {
	font-family: $font-family_1;
}

.fondo-paginas {
	background-color: map-get($paleta_colores_fondo, secundario);
	width: 100%;
	margin: auto;

	h1 {
		text-align: center;
		font-family: $font-family_2;
	}
}

#titulo-productos {
	font-family: $font-family_2;
	font-size: 30px;
	margin: 0.625rem;
}