@mixin contenedor_de_flex ($alineamiento){
    display: flex;
    text-align: $alineamiento;
	justify-content: $alineamiento;
	align-items: $alineamiento;
}

@mixin contenedor_de_grid ($columna, $filas, $areas, $contenido, $gap){
    display: grid;
    grid-template-columns: $columna;
    grid-template-rows: $filas;
    grid-template-areas: $areas;
    justify-content: $contenido;
    gap: $gap;
}

@mixin contenedores_de_contenido ($columna, $alineamiento){
    display: flex;
    flex-direction: $columna;
	align-items: $alineamiento;
}